snippet ! "Templete of README.md" b
# ${1:Project Name}
---
${2:Write a project description}

## Installation
${3:Describe the installation process}

## Usage
${4:Write usage instructions}

## Contributing
${5:...}

## License
${6:TODO: Write license}

endsnippet
