[user]
	name = Armour
	email = 497052684@qq.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[push]
	default = simple
[diff]
	tool = Kaleidoscope
    prompt = false
[merge]
	tool = Kaleidoscope
    prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
